/* MAIN NAV */
.navigation {
	grid-column: full-start / full-end;
	background-color: var(--color-dark);
	border-bottom: 3px solid var(--color-primary-dark);
}

.navigation__container {
	grid-column: center-start / center-end;
	font-size: 1.4rem;
	height: 7rem;
	max-width: 112rem;
	margin: 0 auto;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navigation__logo-box {
	display: flex;
	align-items: center;
}

.navigation__logo {
	width: 5rem;
	margin-right: 1rem;
}

.navigation__title {
	font-family: var(--font-secondary);
	color: var(--color-grey-light-1);
	font-size: 3rem;
}

.navigation__checkbox {
	display: none;
}

.navigation__list {
	display: flex;
	align-items: center;
	list-style: none;
}

.navigation__item {
	position: relative;
}

.navigation__item::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 3px;
	background-color: var(--color-primary);
	transform: scaleY(0);
	transition: transform .2s, width .4s cubic-bezier(1, 0, 0, 1) .2s,
		background-color .1s;
}

.navigation__item:hover::before,
.navigation__item--active::before {
	transform: scaleY(1);
	width: 100%;
}

.navigation__item:active::before {
	background-color: var(--color-primary-dark);
}

.navigation__link:link,
.navigation__link:visited {
	color: var(--color-grey-light-1);
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	padding: 1rem 1.8rem;
	position: relative;
	z-index: 10;
}

@media only screen and (max-width: 56.25em) {
	.navigation__button {
		background-color: var(--color-dark);
		height: 7rem;
		width: 7rem;
		border-radius: 50%;
		position: fixed;
		top: 0rem;
		right: 0rem;
		z-index: 2000;
		box-shadow: 0 1rem 3rem rgba(var(--color-dark), .1);
		text-align: center;
		cursor: pointer;
	}

	.navigation__background {
		height: 6rem;
		width: 6rem;
		border-radius: 50%;
		position: fixed;
		top: .5rem;
		right: .5rem;
		background-image: linear-gradient(
			to right,
			var(--color-dark),
			var(--color-grey-dark-1)
		);
		z-index: 1000;
		transition: transform .8s cubic-bezier(0.85, 0, 0.15, 1);
	}

	.navigation__nav {
		height: 100vh;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 1500;
		opacity: 0;
		width: 0;
		transition: all .8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
	}

	.navigation__list {
		flex-direction: column;
		width: 100%;
		color: var(--color-grey-light-1);

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.navigation__link:link,
	.navigation__link:visited {
		color: var(--color-grey-light-1);
	}

	.navigation__checkbox:checked ~ .navigation__background {
		transform: scale(80);
	}

	.navigation__checkbox:checked ~ .navigation__nav {
		opacity: 1;
		width: 100%;
	}

	.navigation__icon {
		position: relative;
		margin-top: 3.5rem;
	}

	.navigation__icon,
	.navigation__icon::before,
	.navigation__icon::after {
		width: 3rem;
		height: 2px;
		background-color: var(--color-primary);
		display: inline-block;
	}

	.navigation__icon::before,
	.navigation__icon::after {
		content: "";
		position: absolute;
		left: 0;
		transition: all .2s;
	}

	.navigation__icon::before {
		top: -.8rem;
	}

	.navigation__icon::after {
		top: .8rem;
	}

	.navigation__button:hover .navigation__icon::before {
		top: -1rem;
	}

	.navigation__button:hover .navigation__icon::after {
		top: 1rem;
	}

	.navigation__checkbox:checked + .navigation__button .navigation__icon {
		background-color: transparent;
	}

	.navigation__checkbox:checked
		+ .navigation__button
		.navigation__icon::before {
		top: 0;
		transform: rotate(135deg);
	}

	.navigation__checkbox:checked
		+ .navigation__button
		.navigation__icon::after {
		top: 0;
		transform: rotate(-135deg);
	}
}

/* projectComponent Start */

.home__content {
	grid-column: center-start / col-end 4;
	align-items: center;
	padding: 4vw;

	display: grid;
	align-content: center;
	justify-items: start;
}

.home__picture {
	grid-column: col-start 5 / center-end;
	padding: 4rem;
}

.home__img {
	width: 100%;
}

/* AboutComponent Start */

.about__content {
	grid-column: col-start 4 / center-end;

	align-items: center;
	padding: 4vw;

	display: grid;
	align-content: center;
	justify-items: start;
}

.about__picture {
	grid-column: center-start / col-end 3;
	padding: 4rem;

	display: grid;
	align-content: center;
	justify-items: start;
}

.about__img {
	width: 100%;
}

/* ServicesComponent Start */
.heading-1--skills-heading {
	margin-top: 6rem;
}

.heading-1--skills-heading,
.heading-2--skills-heading {
	grid-column: center-start/center-end;
}

.skills {
	grid-column: center-start/center-end;

	margin: 6rem 0;

	display: grid;
	/* grid-template-columns: repeat(3, 1fr); */
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	grid-gap: 4rem;
	align-items: start;
}

.skill {
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-row-gap: 1rem;
	grid-column-gap: 2rem;
}

.skill__icon {
	width: 4rem;
	height: 4rem;
	grid-row: 1 / span 2;
	transform: translateY(-.5rem);
}

.skill__text {
	font-size: 1.7rem;
}

/* SkillsComponent Start */
.heading-1--services-heading {
	margin-top: 6rem;
}

.heading-1--services-heading,
.heading-2--services-heading {
	grid-column: center-start/center-end;
}

.services {
	grid-column: center-start/center-end;

	margin: 6rem 0;

	display: grid;
	/* grid-template-columns: repeat(3, 1fr); */
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	grid-gap: 4rem;
	align-items: start;
}

.service {
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-row-gap: 1rem;
	grid-column-gap: 2rem;

	padding: 3rem;
	border-radius: 10px;
	box-shadow: .5rem 1rem 1.5rem rgba(0, 0, 0, .2);
}

.service__icon {
	width: 5rem;
	height: 5rem;
	grid-row: 1 / span 2;
	transform: translateY(-.5rem);
	background-color: var(--color-primary);
	padding: .75rem;
	border-radius: 15px 15px 2px 15px;
}

.service:first-child {
	background-color: var(--color-primary-dark);
	color: var(--color-grey-light-1);
}

.service__icon--1 {
	background-color: var(--color-grey-light-1);
}

.service__text {
	font-size: 1.7rem;
}

/* WorkComponent Start */
.projects {
	grid-column: center-start/center-end;
	margin: 6rem 0;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	grid-gap: 7rem;
}

.project {
	background-color: var(--color-grey-dark-1);
	border-radius: 3px;
	overflow: hidden;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-row-gap: 3.5rem;
}

.project__img {
	width: 100%;
	grid-row: 1/2;
	grid-column: 1/-1;
	z-index: 1;
}

.project__name {
	grid-row: 1/2;
	grid-column: 1/-1;
	justify-self: center;
	align-self: end;
	z-index: 3;

	width: 80%;

	text-align: center;
	padding: 1.25rem;
	background-color: var(--color-primary-dark);
	border-radius: 3px;
	color: #fff;
	font-weight: 400;
	transform: translateY(50%);
}

.project__technology--top {
	margin-top: 2.5rem;
}

.project__technology {
	font-size: 1.5rem;
	margin-left: 2rem;
	color: #fff;

	display: flex;
	align-items: center;
}

.svg {
	fill: var(--color-primary);
	height: 2rem;
	width: 2rem;
	margin-right: 1rem;
}

.project__buttons {
	grid-column: 1/-1;

	display: flex;
}

/* ContactComponent Start */

.contact__content {
	grid-column: col-start 4 / center-end;

	align-items: center;
	padding: 4vw;

	display: grid;
	align-content: center;
	justify-items: start;
}

.contact__picture {
	grid-column: center-start / col-end 3;
	padding: 4rem;

	display: grid;
	align-content: center;
	justify-items: start;
}

.contact__img {
	width: 100%;
}

/* FooterComponent Start */
.footer {
	background-color: var(--color-dark);
	grid-column: full-start/full-end;
	padding: 4rem;
	padding-top: 6rem;
	-webkit-clip-path: polygon(
		15% 0,
		85% 11%,
		100% 0,
		100% 100%,
		0 100%,
		0 11%
	);
	clip-path: polygon(15% 0, 85% 11%, 100% 0, 100% 100%, 0 100%, 0 11%);
}
.footer__logo {
	width: 6rem;
	margin: 0 auto;
	display: block;
	margin-bottom: 3rem;
}
.footer__nav {
	list-style: none;
	max-width: 20rem;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
	grid-gap: 2rem;
	align-items: center;
	justify-items: center;
}
.footer__nav-icon {
	width: 2.4rem;
}
.copyright {
	font-size: 1.4rem;
	color: var(--color-grey-light-2);
	margin-top: 3rem;
	text-align: center;
}
.copyright__bull {
	font-size: 2rem;
	color: var(--color-primary);
	margin: 0 .5rem;
}
.copyright__heart {
	font-size: 2rem;
	color: red;
	margin: 0 .5rem;
}
