*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

/* Custom variables */
:root {
	--font-primary: 'Montserrat', sans-serif;
	--font-secondary: 'Ubuntu Mono', monospace;

	--color-primary: #00ad45;
	--color-primary-dark: #008836;

	--color-dark: #282828;
	--color-light: #cdcdcd;

	--color-grey-light-1: #faf9f9;
	--color-grey-light-2: #f4f2f2;
	--color-grey-light-3: #f0eeee;
	--color-grey-light-4: #ccc;

	--color-grey-dark-1: #333;
	--color-grey-dark-2: #777;
	--color-grey-dark-3: #999;
}

/* Utilities */
.color-accent {
	color: var(--color-primary);
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	font-family: var(--font-primary);
	color: var(--color-dark);
	font-weight: 300;
	line-height: 1.6;
}

.container {
	background-color: var(--color-grey-light-1);
}

.btn {
	background-color: var(--color-primary);
	color: var(--color-grey-light-1);
	padding: 1.5rem 2rem;
	border-radius: 3px;
}
