*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

/* Custom variables */
:root {
	--font-primary: 'Montserrat', sans-serif;
	--font-secondary: 'Ubuntu Mono', monospace;

	--color-primary: #00ad45;
	--color-primary-dark: #008836;

	--color-dark: #282828;
	--color-light: #cdcdcd;

	--color-grey-light-1: #faf9f9;
	--color-grey-light-2: #f4f2f2;
	--color-grey-light-3: #f0eeee;
	--color-grey-light-4: #ccc;

	--color-grey-dark-1: #333;
	--color-grey-dark-2: #777;
	--color-grey-dark-3: #999;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	font-family: var(--font-primary);
	color: var(--color-dark);
	font-weight: 300;
	line-height: 1.6;
}

/* Utilities */
.color-accent {
	color: var(--color-primary);
}

.color-light {
	color: var(color-grey-light-1);
}
.color-dark {
	color: var(color-grey-dark-1);
}

.container {
	background-color: var(--color-grey-light-1);

	display: grid;
	grid-template-rows: min-content;
	grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start]
		repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end]
		minmax(6rem, 1fr) [full-end];
}

.mb-sm {
	margin-bottom: 2rem;
}

.mb-md {
	margin-bottom: 3rem;
}

.mb-lg {
	margin-bottom: 4rem;
}

.mb-hg {
	margin-bottom: 8rem;
}

/* Components */
.btn,
.btn:link,
.btn:visited {
	text-transform: uppercase;
	text-decoration: none;
	background-color: var(--color-primary);
	color: var(--color-grey-light-1);
	padding: 1.25rem 4rem;
	border-radius: 3px;
	border: 0;
	font-size: 1.5rem;
	transition: all .2s;
}

.btn:hover {
	transform: translateY(-3px);
	background-color: var(--color-primary-dark);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.btn:active,
.btn:focus {
	outline: none;
	background-color: var(--color-primary);
	transform: translateY(-1px);
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

/* Typography */
.heading-1 {
	font-family: var(--font-secondary);
	font-weight: 700;
	font-size: 4.5rem;
	color: var(color-grey-light-1);
	line-height: 1;
}
.heading-2 {
	font-family: var(--font-secondary);
	font-weight: 500;
	font-size: 3rem;
	font-style: italic;
	line-height: 1;
}
.heading-3 {
	font-family: var(--font-secondary);
	font-weight: 500;
	font-size: 2rem;
	color: var(color-primary);
	text-transform: uppercase;
}

.home__text {
	font-size: 1.7rem;
	font-style: italic;
	margin-bottom: 4rem;
}
